---
---

@import "{{ site.theme }}";

body {
  font-size: 18px; /* Default is usually 14-16px */
  line-height: 1.6;
}

h1 { font-size: 2.2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.4em; }

/* Make links more readable */
a { font-weight: 500; }
